<h3>Contact</h3>


body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  margin: 0;
  position:relative;
  border-radius:0;
}

@font-face {
    font-family: KTF-Roadstar;
    src: url( ./KTF-Roadstar.ttf);
}

.upper-container {
  height:360px;
  background-image:-webkit-linear-gradient(left, #720e9e 0, #dd4b39 100%);
  background-image:-o-linear-gradient(left, #720e9e 0, #dd4b39 100%);
  background-image:linear-gradient(to right, #720e9e 0, #dd4b39 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff720e9e', endColorstr='#ffdd4b39', GradientType=1)
}

.switch {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.techskills {
    padding:0;
    margin:0;
    list-style-type:none;
    width:1000px;
}
.techskills li {
    width:240px;
    float:left;
    margin-top: 5px;
    font-size: 18px;
}

.skillsec1 {
  margin-left: 170px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: KTF-Roadstar;
}

.skillsec2 {
  display: flex;
  justify-content: space-around;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.nametext {
  color: white;
  font-size: 30px;
  font-family: KTF-Roadstar;
}

.title {
  color: white;
  font-size: 30px;
}

.lower-body {
  margin-left: 100px;
}

.nav-name {
  -webkit-animation: fadeInDown 3s;
  animation: fadeInDown 3s;
}

.nav-links {
  display: flex;
  -webkit-animation: fadeInDown 3s;
  animation: fadeInDown 3s;
}

.nav-body {
  display: flex;
  padding-top: 20px;
  -webkit-animation: fadeIn 6s;
  animation: fadeIn 6s;
}

.lower-body {
  -webkit-animation: fadeInUp 3s;
  animation: fadeInUp 3s;
}

.body-img{
  margin-left: 160px;
}

img {
  border-radius: 6px;
}

.title {
  margin-left: 160px;
}

i {
  cursor:pointer;
  padding-right: 25px;
}

.header {
  height:120px;
  background-image:-webkit-linear-gradient(left, #720e9e 0, #dd4b39 100%);
  background-image:-o-linear-gradient(left, #720e9e 0, #dd4b39 100%);
  background-image:linear-gradient(to right, #720e9e 0, #dd4b39 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff720e9e', endColorstr='#ffdd4b39', GradientType=1)
}

.nav-links-active:hover {
    color: black;
    -webkit-animation: flash 2s;
    animation: flash 2s;
    cursor:pointer;
    font-family: KTF-Roadstar;
}

.nav-links-space {
    color: white;
    font-size: 22px;
    font-family: KTF-Roadstar;
    margin-left: 16px;
}

.nav-links-space:hover {
    color: black;
    -webkit-animation: flash 2s;
    animation: flash 2s;
    cursor:pointer;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.picRad {
  border-radius: 10px;
}

.pageTitle {
  color: black;
  font-size: 40px;
  font-family: KTF-Roadstar;
  text-align: center;
  padding-top: 35px;
}
