body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.upper-container {
  height:480px;
  width: 100%;
  background-image:-webkit-linear-gradient(left, #720e9e 0, #dd4b39 100%);
  background-image:-o-linear-gradient(left, #720e9e 0, #dd4b39 100%);
  background-image:linear-gradient(to right, #720e9e 0, #dd4b39 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff720e9e', endColorstr='#ffdd4b39', GradientType=1)
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.nav-links {
  display: flex;
}

.nav-links-space {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.nav-body {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}



.nav-links-space:hover {
  cursor:pointer;
  color: black;
  font-size: 20px;
}

.nav-links-space {
  padding-left: 15px;
}
.nametext {
  color: white;
  font-size: 30px;
}

.title {
  color: white;
  font-size: 30px;
}
