<div class="container">
  <div class="row rectangle container">
    <h3>Musique-App</h3>
    <img src="../images/app01.png" width="60%" height="60%" class="picRad"/>
    <p>
      Spotify Music Search App has three search modes. Search by top tracks, albums and by related artists. All information is comming back from Spotify's api. You are only able to listen to track if you search for the top tracks. If you search in different mode our app will point you to spotify to enjoy service provided by spotify one hundred percent.
    </p>
    <span><a href="https://musique-app.firebaseapp.com/">Site</a>

      <a href="https://github.com/rootgateway/Musique-App" tooltips tooltip-template="Github" tooltip-side="bottom"><i class="fa fa-github" style="font-size:32px;"></i></a>

      <a href="" tooltips tooltip-template="Youtube" tooltip-side="bottom"><i class="fa fa-youtube black" style="font-size:32px;"></i></a>
    </span>

  </div>
  </br>
  <div class="row rectangle">
    <h3>Hip-Food-Trucks</h3>
  </div>
  </br>
  <div class="row rectangle">
    <h3>Eatery iOS App</h3>
  </div>
  </br>
  <div class="row rectangle">
    <h3>Weather iOS App</h3>
  </div>
  </br>
  <div class="row rectangle">
    <h3>Shopping Cart App</h3>
  </div>
  </br>
  <div class="row rectangle">
    <h3>Movie Search App</h3>
  </div>

</div>
